.bgf1f2f6{background:#f1f2f6;}
.bgff{background: #fff;}
.colorRed{color:#b81d18;}
.relative{position: relative;}
.absolute{position: absolute;}
.hide{display: none;}
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.mt50{margin-top: 50px;}
.noBorder{border: none !important;}
.hidden{display: none;}
@media screen and (min-width: 751px) {
  		.pc{font-size:16px;}
  		.phone{display: none;}
		.pc .c-wrap{width:1200px;margin-left:auto;margin-right: auto;}
		/*头部*/
		.pc .c-header{height: 80px;background:#333;}
		.pc .c-header_inner{height: 41px;padding-top:13px;}
		.pc .c-header_logo{width:265px;height:49px;}
		.pc .c-header_logo img{display: block;}
		/*搜索框*/
		.pc .c-search{width:406px;height: 42px;border:solid 2px #515056;margin-left:60px;margin-top:5px;border-radius: 50px;}
		.pc .c-search .c-search_input{display:block;width:347px;height:24px;margin-top:10px;margin-left:3px;border:none;font-size:16px;color:#d7d7d7;background:#333;color:#fff;text-indent: 2em;}
		.pc .c-search .c-search_btnSearch{position:relative;display:block;width:56px;height:56px;margin-top:-2px;}
		.pc .c-search .c-search_btnSearch:before{position:absolute;display: block;content: "";background: url(http://hsnew.cnfol.com/pc/Imgs/CaiShi/New/search.png?) left top no-repeat;width:24px;height: 24px;backgrond-size:100%;left:50%;top:50%;margin-left:-10px;margin-top:-16px;}

		.pc .c-header-tags{color: #ce2722;font-size: 18px;float: left;}
		.pc .c-header-tags a{color:#e10010;padding-left:18px;line-height: 60px;font-size: 16px;}
		.pc .c-hot{position: relative;}
		.pc .c-hot:before{position: absolute;content:"";display: block;width:22px;height:12px;background: url(http://hsnew.cnfol.com/pc/Imgs/CaiShi/New/icon_hot.png) left top no-repeat;background-size:cover; right: -17px;top:-7px;}
		.pc .c-header-userInfo{}
		.pc .c-header .c-header-userInfo_img{width: 50px;height: 50px;border: solid 2px #ddd;border-radius: 50%;}
		.pc .c-header .c-header-userInfo_img img{display: block;border-radius: 50%;width:100%;height: 100%;}

		.pc .c-header-select{color:#fff;background:#101010;margin-top:20px;margin-left:10px;border:none;height: 20px;}
		.pc .c-header-course{ display: block; float: left; color: #848391; margin-top: 20px;margin-left: 40px;}
		.c-loginCen{vertical-align: bottom;display: inline-block;width: 19px;height: 21px;background: url(http://hsnew.cnfol.com/pc/Imgs/CaiShi/New/icon_login.png) left top no-repeat;
          background-size: 19px 21px;margin-right: 5px;
      }
		.c-header-nickBox{
			color: #fff;
		    background: #101010;
		    margin-left: 10px;
		    border: none;
		    height: 20px;
		    font-size: 16px;
    		line-height: 33px;
		}
		.c-header-nickBox_quit{
			color: #fff;
			display: block;
			margin-left:10px;
			font-size: 
		}
		.navBar{padding-top:20px;padding-bottom: 30px;}
		.navBar a{color:#333;}

		/*广告、宣传*/
		.advInfo{position:relative;height: 400px;background: url(http://hsnew.cnfol.com/pc/Imgs/CaiShi/New/bg-banner.png) left top no-repeat;background-size:cover;}
		.slogan { font-size: 50px; padding-top: 150px; width: 50%; color: white; float: left; }
		.advInfo_brand {position:absolute;left: 0px;top: 175px;}
		.qrcode_wrap {position:absolute;right:0;height: 400px; line-height: 360px; background: rgba(0,0,0,.5); width: 360px;text-align: center;}
		.qrcode_wrap img{width:250px;}
		/*菜单*/
		.c-menu_inner{padding-top:18px;padding-bottom: 18px;}
		.c-menu_item-active{background: url(http://hsnew.cnfol.com/pc/Imgs/CaiShi/New/menubg.png) left top no-repeat;background-size: 100% 41px;color: #fff;padding-left: 30px;padding-right: 30px;
		        line-height: 40px;}
		.c-menu_item{display: inline-block;margin-left:40px;height: 48px;font-size:16px;  }
		.c-menu_btnUpdate{
			display: inline-block;
			width:85px;
			height: 30px;
			line-height: 30px;
			background:#b81d18;
			font-size:14px;
			color:#fff;
			border-radius: 3px;
			text-align: center;
			margin-top: 10px;
			margin-left: 20px;
		}

		.c-menu_setting{position: relative;float: right;}
		.c-menu_settingBox{
			width: 430px;
		    height: 400px;
		    position: absolute;
		    top:60px;
		    left:-150px;
		    background-color: #fff;
		    border:solid 1px #dedede;
		}
		.c-menu_settingBox-title{
			font-size:18px;
			line-height: 68px;
			text-align:center;
			background:#f1f2f6;
		}
		.c-menu_settingItems_item{
			position:relative;
			display: block;
			width:86px;
			height: 30px;
			font-size: 14px;
			color:#fff;
			line-height: 30px;
			text-align: center;
			float: left;
			background:#fff;
			border:solid 1px #dedede;
			color:#333;
			border-radius: 5px;
			margin-top:30px;margin-left:38px;
		}

		.c-menu_settingItems .active{
			background: #b81d18;
			border:solid 1px #b81d18;
			color:#fff;
		}
		.c-menu_settingItems  i{
			display: none;
		}
		.c-menu_settingItems .active i{
			position: absolute;
			display: block;
			width:15px;
			height: 15px;
			border-radius: 50%;
			background:#fff;
			line-height: 15px;
			font-size:10px;
			color:#b81d18;
			right: 0;
			top:-8px;
			border:solid 1px #dedede;
		}

		.c-menu_settingBox_tip{
			display: block;
		    color: #b81d18;
		    font-size: 12px;
		    padding-left: 38px;
		    padding-top: 20px;
		}

		.c-menu_settingBox-footer{
		     text-align: center;
		     padding-top:30px;
		}
		.c-btn1{
		    display: inline-block;
		    width: 100px;
		    height: 30px;
		    line-height: 30px;
		    border: solid 1px #dedede;
		    border-radius: 5px;
		    text-align: center;
		    color: #333;
		    background: #fff;
		    margin-right: 25px;
		    margin-left: 25px;
		    font-size: 16px;
		}
		.c-btn2 {
		    display: inline-block;
		    width: 130px;
		    height: 40px;
		    line-height: 40px;
		    border: solid 1px #dedede;
		    border-radius: 5px;
		    text-align: center;
		    color: #fff;
		    background: #b81d18;
		    margin-right: 5px;
		     
		}

		/*直播列表轮播*/
		.liveturn_title{
		    padding-top:30px;
		    padding-bottom:30px;
		    text-align: center;
		}
		.liveturn_title a{
			font-size:16px;
			float: right;
		}
		.liveturn_title a:after{
			content: ">>"
		}
		.liveturn_title_img{
		    display: inline-block;
		    font-size:26px;
		  /*  width:161px;
		    height: 37px;*/
		}
		.liveturn_title_img:after{
			content: "";
		    border-bottom: solid 2px #525252;
		    display: block;
		    margin-top: 5px;
		}
		.liveturn_picBox{
		    width:700px;
		    height: 414px;

		}
		.liveturn_picBox img{
		    display: block;
		    width:100%;height: 100%
		}

		.liveturn_list{
		    width:500px;
		}

		.liveturn_listItem{
		    text-indent: 20px;
		    line-height: 60px;
		    border-bottom-right-radius: 30px;
		    border-top-right-radius: 30px;
		}
		.liveturn_list .active{
		    background:#282828;
		    border-left: solid red 2px;
		    color: #fff;
		}
		.liveDesc{
		    display: inline-block;
		}
		.liveIcon{
			position: relative;
		    display: inline-block;
		    width:60px;
		    text-align: center;
		}		

		.liveIcon:before {
		    content: "";
		    color: #fff;
		    position: absolute;
		    font-size: 20px;
		    height: 100%;
		    border-left: dotted 1px #dedede;
		    left: 40px;
		    z-index: 0;
		}

		 .liveIcon_dot:before{
		    content: "";
		    display: inline-block;
		    width:8px;
		    height:8px;
		    border-radius: 50%;
		    background:#cfcfcf;
		    line-height: 16px;
		}
		.liveturn_list .active .liveIcon_dot:before{
			background: #b81d18;
		}

		.liveIcon_process{
		    display: inline-block;
		    background: url(http://hsnew.cnfol.com/pc/Imgs/CaiShi/New//living.png)  left top no-repeat;
		    background-size:100% 100%;
		    width:14px;
		    height: 7px;
		}

		.livestatus{
		    color:#282828;
		}
		.liveturn_list .active a{
			color: #fff;
		}
		.liveturn_list .active .liveStatus {
		    color:#fff;
		    background: none;
		}
		.liveStatus {
		    display: inline-block;
		    height: 30px;
		    width: 70px;
		    line-height: 30px;
		    text-align: center;
		    text-indent: 0;
		}
		.liveStatus_living{
		    background: none;
		    color:#b81d18;
		}
		.liveStatus_back{
		    background: #fff;
		    color: #666;
		}

		/*列表*/
		.liveList_row {
			margin-left:0px;
		}
		.liveList_cell{
			width:270px;
			height: 227px;
			margin-left: 40px;
			margin-top:10px;
		}
		.liveList_cell:nth-child(4n+1) {
		    margin-left: -0px;
		}
		.liveItem_img {
		    width: 100%;
		    height: 152px;
		    border-radius: 5px;
		}
		.liveItem_desc {
		    font-size: 16px;
		    padding-top: 10px;
		    padding-bottom: 10px;
		}
		.liveItem_other {
		    font-size: 14px;
		    color: #c4c4c4;
		}

		/*我的课程*/
		.myCourseList{
			font-family: "simhei";
			overflow-y:auto;
		}
		.myCourseItem{
			border-bottom: solid 1px #ddd;
		    padding-top: 20px;
		    padding-bottom: 20px;
		}
		.myCourseItem:last-child {
		    border: none;
		}
		.myCourseItem_imgBox{
			width:360px;
			height: 180px;

		}
		.myCourseItem_imgBox img{
			width:100%;
			height: 100%;
			border-radius: 5px;
		}

		.myCourseItem_detail{
			position: relative;
			padding-left:10px;
			width:400px;
			height: 180px;
		}
		.myCourseItem_detail_title{
			font-size:24px;
			color: #333;
		}
		.myCourseItem_detail_tags{
			font-size:17px;
			color:#999;
			padding-top:10px;
			padding-bottom: 10px;
		}

		.myCourseItem_detail_include{
			font-size:16px;
			color:#333;
		}
		.myCourseItem_detail_hasBuy{
			color:#ec251f;
		}

		.myCourseItem_detail_intro{
			position: absolute;
		    bottom: 5px;
		}

		.myCourseItem_btns{
			width:340px;
		}
		.btnPayNow{
			margin-top:70px;
		}

		.lookMore{
		    color: #666;
		    background: #ececec;
		    font-size: 14px;
		    margin: auto;
		    display: block;
		    width: 288px;
		    height: 40px;
		    line-height: 40px;
		    text-align: center;
		    border-radius: 5px;
		    margin-top: 40px;
		    margin-bottom: 40px;
		}

		/*课程详情*/
		.myCourse_buy{
			padding-bottom: 50px;
			padding-top:20px;
		}
		.myCourse_buy_imgBox{
			width:680px;
			height: 410px;
		}
		.myCourse_buy_imgBox img{
			width:100%;
			height: 100%;
		}
		.myCourse_buy_operItem{
			padding-left: 20px;
			border-top:solid 1px #dedede;
		}
		.myCourse_buy_oper{
			width:500px;
			height: 380px;
		}


		.myCourse_buy_title {
		    font-size: 20px;
		    padding-top:5px;
		}
		.myCourse_buy_detail{
			font-size:14px;
			line-height: 35px;
			color:#666;
		}

		.myCourse_buy_detail span{
			padding-left: 10px;
		    padding-right: 10px;
		}
		.myCourse_buy_detail span:first-child{
			padding-left: 0;
		}

		.myCourse_item{
			line-height: 45px;
		    color: #333;
		    padding-left: 20px;
		    font-size: 16px;
		    border-top:solid 1px #dedede;
		}
		.myCourse_item:last-child{
			border-bottom:solid 1px #dedede;
		}


		.myCourseBtn {
		    display: inline-block;
		    width: 70px;
		    height: 30px;
		    line-height: 30px;
		    text-align: center;
		    color: #74a8f9;
		    border: solid 1px #dedede;
		    font-size: 14px;
		    margin-top:6px;
		    background: #fff;
		    border-radius: 3px;
		    margin-right:20px;
		}

		.myCourseList .active{
			background: #282828;
		    border-bottom-right-radius: 50px;
		    border-top-right-radius: 50px;
		    color: #fff;
		    border-left: solid 5px red;
		}
		.myCourseList .active:before{
			display: inline-block;
			width:5px;
			height: 100%;
			background: #b81d18;
		}

		.myCourseBtn_right{
			display: inline-block;
		    float: right;
		    width: 35px;
		    height: 35px;
		    background: url(http://hsnew.cnfol.com/pc/Imgs/CaiShi/New/right.png) left top;
		    margin-top: 5px;
		    margin-right: 40px;
		}
		.myCourseBtn_buy{
			display: inline-block;
		    float: right;
		    width: 35px;
		    height: 35px;
		    background: url(http://hsnew.cnfol.com/pc/Imgs/CaiShi/New/buycar.png) left top;
		    margin-top: 5px;
		    margin-right: 40px;
		}
		.myCoursePayDetail{
			padding-left:20px;
			padding-top:10px;
		}
		.myCoursePayDetail_price_discount{
			display: inline-block;
			width:40px;
			height: 42px;
			background: url(http://hsnew.cnfol.com/pc/Imgs/CaiShi/New/discount.png) left top no-repeat;
			background-size:100%;
			vertical-align: middle;
			color: #fff;
		    text-align: center;
		    line-height: 40px;
		}
		.myCoursePayDetail_nowPirce{
			font-size:25px;
			color:#ec251f;
		}

		.myCoursePayDetail_originPirce{
			color:#999;
			text-decoration-line: line-through;
		    padding-left: 20px;

		}

		.myCourse_introduct_desc{
			height: 80px;
		}
		.myCoursePayDetail_btn{
			display: inline-block;
			width:130px;
			height: 40px;
			background:#b81d18;
			line-height: 40px;
			font-size:14px;
			color:#fff;
			text-align: center;
			border-radius: 5px;
			margin-top:20px;
		}
		.myCourse_introduct{
			width:721px;
			border:solid 1px #dedede;
			padding-left:20px;
			padding-right:20px;
		}

		.myCourse_introduct_title {
		    font-size: 16px;
		    line-height: 45px;
		}
		.myCourse_introduct-panel{
			padding-left:20px;
			padding-right:20px;
		}

		.icon_introduct{
			margin-right: 10px;
		}
		.icon_courseDetail{
			margin-right: 10px;
			vertical-align: bottom;
		}
		.myCourse_introduct_desc_logo{
			width:50px;
			height: 80px;
		}
		.myCourse_introduct_desc_logo img{
			width: 44px;
		    height: 35px;
		    border-radius: 50%;
		}
		.myCourse_introduct_desc_title{
			line-height:30px;
		}
		.myCourse_introduct_desc_detail{
			line-height: 23px;
			font-size:14px;
			color:#999;
		}

		.course_introduct_detail_ctn{
			font-size:14px;
			line-height: 1.8;
			padding: 5px 0;
		}

		.course_introduct_detail_header{
			padding-top:10px;
			padding-bottom: 10px;
		}
		.myCourse_introduct-panel{
			padding-top:20px;
		}

		.myCourse_qrcode{
			width: 375px;
		    height: 600px;
		    text-align: center;
		    border: solid 1px #dedede;
		    margin-left: 20px;
		}
		.myCourse_qrcode img
		{
			width:260px;
			margin-top: 60px
		}

		/**/
		.liveItem_headerImg{
			border-radius: 50%;
			width:36px;
			height: 36px;
		}
		.liveItem_nickName{
			font-size:14px;
			/*margin-left: 10px;*/
		}
		.liveItem_oldMoney{
			color:#999;
			text-decoration: line-through;
		}
		.liveItem_nowMoney{
			color:#ac2f2f;
		}
		.liveItem_courseInfo{
			line-height: 36px;
		}
		/*分类筛选*/

		.searchInfo .searchInfo_row{
			padding-top:10px;
			padding-bottom: 10px;
		}
		.searchInfo .cons{display: inline-block;}
		.searchInfo .con_pre,.searchInfo .con_status,.searchInfo .cons_item{
			display: inline-block;
		    font-size: 14px;
		    width: 106px;
		    line-height: 36px;
		}
		.searchInfo .cons_item {
		    margin-left: 50px;
		    border: solid 1px #dedede;
		    text-align: center;
		    border-radius: 3px;
		}
		.searchInfo .con_status{
			background:#ac2f2f;
			color:#fff;
			text-align: center;
			border-radius: 3px;
		}
		/*关键词*/
		.searchResult{
			padding-top:15px;
			padding-bottom: 15px;
			line-height: 30px;
			font-size:14px;
		}
		.keywords{
			border: solid 1px #f7822c;
		    height: 30px;
		    line-height: 30px;
		    padding-left: 10px;
		    padding-right: 10px;
		    font-size:14px;
		}
		.keywords_item{
		    color:#f7822c;
		}
		.searchCount{padding-left:20px;}
		.searchCount i{color:#f7822c;}

		/*底部*/
		.Footer {
		  width: 100%;
		  font-size: 12px;
		  color: #333;
		}
		.Footer a {
		  color: #333;
		}
		.Footer p {
		  line-height: 24px;
		}
		.Footer .footBall {
		  text-align: center;
		  padding: 12px 0;
		}
		.Footer .Labi {
		  display: inline-block;
		  vertical-align: middle;
		  width: 101px;
		  height: 40px;
		  background: url(http://hs.cnfol.com/Cm/Imgs/BgH.gif) 0 4px no-repeat;
		}
		.Footer .Police {
		  display: inline-block;
		  vertical-align: middle;
		  width: 83px;
		  margin-left: 25px;
		  height: 33px;
		  background: url(http://hs.cnfol.com/Cm/Imgs/BgH.gif) 10px -44px no-repeat;
		  padding: 8px 0 0 36px;
		  font: 400 12px/13px "";
		}
		.Footer .WfIcon {
		  background: url(http://images.cnfol.com/home_cnfol.gif) no-repeat;
		  display: inline-block;
		  height: 33px;
		  margin-left: 25px;
		  padding: 8px 0 0 36px;
		  vertical-align: middle;
		  width: 83px;
		  font: 400 12px/13px '';
		}
		/**/
		.hasNodata {
		   
		    width: 2.8rem;
		    height: 4.35rem;
		    padding-top:20px;
		    padding-bottom: 20px;
		    margin:auto;
		}
		.hasNodata img {
		    width: 100%;
		    height: 100%;
		}




		/*****/
		.listPic img {
		    width: 100%;
		}
		.playerUI{
			position:relative;
			width:700px;
			height:410px;
		}
		#playerPCMusic {
		    background: url(http://hs.3g.cnfol.com/uj/Imgs/Shopping/playbutton.png) no-repeat 0 0;
		    background-size: cover;
		    width: 20p;
		    width: 60px;
		    height: 60px;
		    display: block;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    margin-top: -30px;
		    margin-left: -30px;
		}
		.playerCoverImg{
			width:700px;
			height:380px;
		}
		.myCourse_buy_imgBox{
			overflow:hidden;
		}
		.myCourse_buy_imgBox img {
		    width: 100%;
		    height: 100%;
		  
		}
		.myCourseList {
		    font-family: "simhei";
		    height: 245px;
		}
		.myCourseList-2{
			height: auto;
		}
		.vcp-controls-panel.show{z-index:10000}

		/*add by lgw 20171102*/
		 .part-title2{text-align: center;}
	      /*专家、助教团队 列表*/
	      .c-list2-item{
	        text-align: center;
	        width:160px;
	        margin-left:48px;
	        float: left;
	      }
	      .c-list2-item:first-child{
	        margin-left:0;
	      }
	      .c-cell2-headImg{
	        display: block;
	        background: gray;
	          width:160px;
	          height: 160px;
	            
	      }
	      .c-cell2-headImg-circle{
	         border-radius: 50%;         
	      }
	       .c-cell2-headImg-hexagon{
	         /*border-radius: 50%;         */
	      }
	      .c-cell2-name{
	        font-size:18px;
	        line-height: 35px;
	        color: #333;
	      }
	      .c-cell2-desc{
	        color:#c4c4c4;
	      }


	      .assistantRecom .c-list2-item{
	          width:260px;
	          padding-bottom:20px;
	      }
	      .assistantRecom .c-list2-item:nth-child(4n+1){
	        margin-left: 0;
	      }
	      .assistantRecom .c-cell2-headImg{
	        width:260px;
	        height: 260px;
	      }
}

